{% extends "front-end/template.html" %}
{% block content %}
<!-- ======= Team Section =======-->
    <div class="headercover" style="height:110px;background-color:white"></div>
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          {%for member in team %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src={{member.image.url}} alt="">
              <h4>{{member.name}}</h4>
              <span>{{member.role}}</span>
              <p>
                {{member.detail}}
              </p>
              <div class="social">
                <a href={{member.twitter}}><i class="icofont-twitter"></i></a>
                <a href={{member.facebook}}><i class="icofont-facebook"></i></a>
                <a href={{member.instagram}}><i class="icofont-instagram"></i></a>
                <a href={{member.linkedin}}><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>

      </div>
    </section><!-- End Team Section -->

{%endblock%}