{% extends "front-end/template.html" %}

{% block content %}
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/assets/frontend/assets/pricing/style.css">
        <div class="headercover" style="height:110px;background-color:white"></div>
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <table class="pricing-table-box">
                <tbody>
                    <tr>
                        <td width="30%" class="pricing-table-box-text">
<!--                            <h2>OUR BEST <br/> HOSTING PLANS</h2>-->
                        </td>
                        {%for pkg in pricing_packages%}
                        <td width="20%" class="{%if forloop.first or forloop.last%}{%else%}theplan theplanhead{%endif%}">
                            <div class="pricing-table-box-item">
                                <div class="pricing-table-box-item-price color2">
                                    <h1>{{pkg.title}}</h1>
                                    <h2>{{pkg.price}}<span>/ yr</span> <span>*</span></h2>
                                    <p><span>save {{pkg.saving}}%</span></p>
                                    <p><span>Regular Price ${{pkg.monthly_price}} /mo</span></p>
                                </div>
                                <div class="pricing-table-box-item-head color2">
                                    <p>{{pkg.title}}</p>
                                </div>
                            </div>
                        </td>
                        {%endfor%}
                    </tr>
                    {%for ele in features%}
                        <tr class="pricing-table-box-list">
                            <td class="first-row">{{ele}}</td>
                            {%for feature_val in features_values%}
                                {%if feature_val.pricing_features.feature_name == ele%}
                                    {%if feature_val.feature_value == 'true' or feature_val.feature_value == 'True' %}
                                        <td class="second-row {%if feature_val.recommended %} theplan {%endif%}"><span class="glyphicon glyphicon-ok"></span></td>
                                    {%elif feature_val.feature_value == 'false' or feature_val.feature_value == 'False' %}
                                        <td class="second-row {%if feature_val.recommended %} theplan {%endif%}"><span class="glyphicon glyphicon-remove"></span></td>
                                    {%else%}
                                        <td class="second-row {%if feature_val.recommended %} theplan {%endif%}">
                                            {{feature_val.feature_value}}</td>
                                    {%endif%}
                                {%endif%}
                            {%endfor%}
<!--                            <td class="third-row theplan"><span class="glyphicon glyphicon-ok"></span></td>-->
<!--                            <td class="fourth-row"><span class="glyphicon glyphicon-ok"></span></td>-->
                        </tr>
                    {%endfor%}

                    <tr class="pricing-table-box-list">
                        <td class="first-row"></td>
                        <td class="second-row">
                            <div class="pricing-table-box-item-purchase">
                                <button class="btn btn-success btn-block color2">SIGN UP</button>
                            </div>
                        </td>
                        <td class="third-row theplan theplanhead">
                            <div class="pricing-table-box-item-purchase">
                                <button class="btn btn-success btn-block color2">SIGN UP</button>
                            </div>
                        </td>
                        <td class="fourth-row">
                            <div class="pricing-table-box-item-purchase">
                                <button class="btn btn-success btn-block color2">SIGN UP</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div style="height:50px;clear:both;">
            <!-- Version 2-->
        </div>

    </div>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
{%endblock content %}